
@media (min-width:577px) and (max-width: 800px) {
    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
        margin: 0 10px; /* Reduced margin for narrower screens */
    }

    .about-section {
        padding: 30px 10px; /* Reduced padding for narrower screens */
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 20px; /* Further reduced padding for narrowest screens */
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
        margin: 0 10px; /* Further reduced margin for narrowest screens */
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }
}
